/* Layout Container - Full Section Wrapper */
.layout-container {
  width: 100%;
  max-width: 1366px;
  
  margin: 0 auto;
}

/* Content Container */
.container {
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
 
  
}