@import url(./modules/layout.css);
@import url(./modules/header.css);
@import url(./modules/tasksection.css);
@import url(./modules/cta.css);
@import url(./modules/blog.css);
@import url(./modules/faq.css);
@import url(./modules/blogfeeds.css);


body {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 300;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
